@using PAUYS.ViewModel.Concrete
@model ProductAddViewModel

@{
    ViewData["Title"] = "Ürün Ekle";
    ViewBag.Title = "UrunEkle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}

<h2>@ViewData["Title"]</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
else if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<form asp-action="Add" method="post" class="form-horizontal" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="Name" class="control-label col-md-2">Ürün Adı</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" />
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="Description" class="control-label col-md-2">Ürün Açıklaması</label>
        <div class="col-md-10">
            <textarea class="form-control" id="Description" name="Description">@Model.Description</textarea>
           @*  <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description" /> *@
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="Price" class="control-label col-md-2">Ürün Fiyatı</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="Price" name="Price" value="@Model.Price" />
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>

   @*  <div class="form-group">
        <label asp-for="PictureFormFile" class="form-label">Fotoğraf</label>
        <div class="col-md-10">
        <input asp-for="PictureFormFile" class="form-control" />
        <span asp-validation-for="PictureFormFile" class="text-danger"></span>
        @Html.ValidationMessageFor(model => model.PictureFormFile, "", new { @class = "text-danger" })
        </div>
    </div> *@



    <div class ="form-group">
        <label for="MaterialId">Materyal Seç</label>
        <div class="col-md-10">
        <select id="MaterialId" name="MaterialId" class="form-control">
            @foreach (var material in ViewBag.Materials)
            {
                <option value="@material.Id">@material.Name</option>
            }
        </select>
        </div>
    </div>

    <div class="form-group">
        <label for="CategoryId">Kategori Seç</label>
        <div class="col-md-10">
            <select id="CategoryId" name="CategoryId" class="form-control">
                @foreach (var category in ViewBag.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
    </div>


   @*  <form asp-action="UploadProductPicture" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label for="productPicture">Fotoğraf Yükle</label>
            <input type="file" name="productPicture" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Yükle</button>
    </form> *@


    <div class="mb-3">
        <label for="Picture" class="form-label">Fotoğraf</label>
        <input asp-for="PictureFormFile" class="form-control" />
        <div class="invalid-feedback" asp-validation-for="Picture"></div>
        <small class="form-text text-muted">Lütfen .jpg, .jpeg veya .png formatında bir dosya yükleyin.</small>
    </div>
   @*  <button type="submit" class="btn btn-primary">Yükle</button> *@

    <!-- Gönder Butonu -->
    <button type="submit" class="btn btn-primary w-100">Kaydet</button>

   
   
</form>

@* @section Scripts {
    @scripts.Render("~/bundles/jqueryval")

     <div class="col-md-12 form-group">
                <input asp-for="PictureFile" class="form-control-file" placeholder="@Html.DisplayNameFor(m => m.PictureFile)">
            </div>



              <div class="col-md-12">
            <label asp-for="PictureFormFile" class="form-label"></label>
            <input asp-for="PictureFormFile" class="form-control" />
            <span asp-validation-for="PictureFormFile" class="text-danger"></span>
        </div>
} *@

