@model PAUYS.ViewModel.Concrete.MaterialViewModel

@{
    ViewData["Title"] = "Materyal Düzenle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml"; // İlgili layout sayfasını ayarlayın
}

<h2>@ViewData["Title"]</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
else if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<form asp-action="Update" method="post" class="form-horizontal">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="Name" class="control-label col-md-2">Materyal Adı</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" />
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Güncelle</button>
        </div>
    </div>
</form>
