@model UserCreateViewModel

@{
    ViewData["Title"] = "Kullanıcı Ekle";
    ViewBag.Title = "Kullanıcı Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}

<h2>@ViewData["Title"]</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
else if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<form asp-controller="Account" asp-action="UserAdd" method="post" class="form-horizontal">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="FirstName" class="control-label col-md-2">Adı</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.FirstName" />
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="LastName" class="control-label col-md-2">Soyadı</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="LastName" name="LastName" value="@Model.LastName" />
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="PictureFileName" class="control-label col-md-2">PictureFileName</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="PictureFileName" name="PictureFileName" value="@Model.PictureFileName" />
            @Html.ValidationMessageFor(model => model.PictureFileName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="Email" class="control-label col-md-2">Email</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email" />
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label for="Password" class="control-label col-md-2">Şifreniz</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="Password" name="Password" value="@Model.Password" />
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Gönder</button>
        </div>
    </div>
</form>

@* @section Scripts {
    @scripts.Render("~/bundles/jqueryval")
} *@

